.containerdarkmode {
  transition: var(--transition);

  .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 4.5px 8px;
    border: 1px solid #d0d7de;
    background-color: rgba(216, 222, 228, 0.2);
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: calc((4 * 360px) / 7 + 4px);
    transition: 0.2s;

    span {
      margin: 0;
      margin-left: 4px;
      font-size: 14px;
      font-weight: 1;
      color: #24292f;
      user-select: none;
    }
  }

  .button:hover {
    background-color: rgba(216, 222, 228, 0.5);
  }
}

body[light-mode="dark"] .containerdarkmode {
    .button {
        border: 1px solid #363b42;
        background-color: #262e38;
    }
    span {
        color: #c9d1d9;
    }
    .button:hover {
        background-color: #363b42;
    }
}