@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Nunito-Regular.ttf');
}

:root {
  --max-width: 1200px;
  --border-radius: 10px;
  --transition: all 0.15s ease-in-out;
  --font-family: 'Nunito', sans-serif;

  --red: #ef5350;
  --red-dark: #b61827;
  --red-light: #ffcdd2;

  --blue: #2196f3;
  --blue-dark: #0d47a1;
  --blue-light: #bbdefb;

  --green: #4caf50;
  --green-dark: #1b5e20;
  --green-light: #c8e6c9;

  --yellow: #ffeb3b;
  --yellow-dark: #f57f17;
  --yellow-light: #fff9c4;

  --grey: #9e9e9e;
  --grey-dark: #424242;
  --grey-light: #e0e0e0;
  --black: #212121;

  --white: #ffffff;
  --logo-color: #5271ff;
  --red-logo: #e05a47;

  --git_grey:#21262d;
  --git_black:#0d1117;
  --git_boxes:#30363d;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  transition: 0.5s;
}

@keyframes spin {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes done {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container1 {
  width: 100%;
  height: calc(100vh - 12vh);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  p:nth-child(1) {
    content: '';
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 50%;
    height: 50%;
    background: var(--logo-color);
    clip-path: circle(20% at right 85%);
    z-index: -1;
    transition: 0.3s;
  }

  p:nth-child(2) {
    content: '';
    position: absolute;
    top: 85px;
    left: 0;
    width: 70%;
    height: 70%;
    background: var(--logo-color);
    clip-path: circle(20% at left 5%);
    z-index: -1;
    transition: 0.3s;
  }

  .container1_title {
    width: 100%;
    height: 10%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 3rem;
      font-weight: bold;
      color: var(--logo-color);
      user-select: none;
    }
  }

  .container1_text {
    width: 50%;
    height: 10%;
    margin: 0;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    h4 {
      margin: 0;
      font-size: 1.5rem;
      color: var(--grey-dark);
    }

    span {
      font-size: 1.5rem;
      color: var(--blue);
    }
  }

  .container1_button {
    width: 50%;
    height: 10%;
    margin: 0;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    .button_start {
      padding: 1% 2%;
      margin: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: var(--logo-color);
      border: none;
      border-radius: var(--border-radius);
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: var(--font-family);
      color: var(--white);
      transition: var(--transition);
      user-select: none;
      text-decoration: none;
    }

    .button_start:hover {
      background-color: var(--blue-dark);
    }
  }
}

.container_user {
  background-color: var(--white);
}

body[light-mode="dark"] .container_user {
  background-color: #161b22;
}